<h2>Angular + Sinatra: Authentication and Authorization Example</h2>

<div>
  <a href="/#/home">home</a>
  The home page is only accessible when logged in.  If the user is not logged in
  yet, it redirects to the login page.
</div>

<div>
  <a href="/#/admin">admin</a>
  Must have admin access to see this page.
</div>

<div ng-if="! loggedIn">
  <a href="/#/auth/login">login</a>
  If the user was denied access to a page due to not being logged in yet,
  after successful login, the user is taken to that page automatically.
</div>
<div ng-if="loggedIn">
  <a href="/#/auth/logout">logout</a>
</div>

<div>
Data only users can see: {{userData}}<br/>
Data only admins can see: {{adminData}}
</div>
